
/*MAIN*/
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  list-style: none;
}
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*LOGO in HEADER*/

.logo-web-header {
  color: var(--button-hover-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.logo-studio-header {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
/*NAVIGATION*/

/*CONTACTS*/


/* HERO */




/*FILTER*/

/*PROJECTS*/


/* advantage */


/* work чем мы занимаемся */


/* team */


/* CLIENT SECTION */

/*LOGO in FOOTER*/
.all-footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.all-footer .container {
  display: flex;
  align-items: baseline;
}
.all-footer .contacts-list {
  margin-top: 20px;
}

.contacts-footer {
  list-style: none;

  padding-left: 0px;
}
.contacts-footer .item + .item {
  margin-top: 9px;
  margin-left: 0px;
}

.footer-logo-studio {
  color: var(--button-hover-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--button-hover-color);
}
.footer-flex {
  display: flex;
  justify-content: center;
}

.social-address {
  margin-left: 70px;
}
.address-icons {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.address-title {
  color: var(--button-hover-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  justify-content: center;
  margin-bottom: 20px;
}
.address-item {
  width: 44px;
  height: 44px;
}
.address-item + .address-item {
  margin-left: 10px;
}
.address-link {
  background-color: #44454e;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-icon {
  width: 20px;
  height: 20px;
  fill: var(--button-hover-text-color);
}

.address-link:hover,
.address-link:focus {
  background-color: var(--button-hover-color);
}
.address-link:hover .address-icon,
.address-link:focus .address-icon {
  fill: var(--button-hover-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  display: flex;
  padding: 40px 40px;
  height: 581px;
  width: 521px;
  background-color: var(--button-hover-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(226, 8, 8, 0.1);
  border-radius: 50%;

  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-button:hover .icon-close,
.close-modal-button:focus .icon-close {
  fill: var(--button-hover-color);
}
.icon-close:hover,
.icon-close:focus {
  fill: var(--button-hover-color);
}

.contact-form {
  position: relative;
  width: 570px;
  min-height: 86px;
  margin: 0 auto;
}
.input-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
}
.input-button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  border-radius: 4px;
}
.icon-send {
  display: block;
  margin-left: 10px;
  fill: var(--button-hover-text-color);
}
.text-for-input {
  color: var(--button-hover-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
.modal-form-name {
  margin-bottom: 10px;
  position: relative;
}
.label-modal-span {
  position: relative;
  outline: none;
}
.label-modal-span:hover .icon-modal,
.label-modal-span:focus .icon-modal {
  fill: var(--button-hover-color);
}
.label-modal-span:hover .input-modal,
.label-modal-span:focus .input-modal {
  border: 1px solid #2196f3;
}

.icon-modal {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-modal:hover,
.icon-modal:focus {
  fill: var(--button-hover-color);
}

.modal-form-phone {
  margin-bottom: 10px;
}
.modal-form-mail {
  margin-bottom: 10px;
}
.modal-form-comment {
  margin-bottom: 20px;
}
.modal-form-agreement {
  margin-bottom: 30px;
}
.modal-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-modal {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.input-modal:hover,
.input-modal:focus {
  border: 1px solid #2196f3;
}

.modal-form-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
.textarea-modal {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  outline: none;
}
.textarea-modal:hover,
.textarea-modal:focus {
  border: 1px solid #2196f3;
}
.label-modal {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.input-button-modal {
  width: 200px;
  height: 50px;
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  border-radius: 4px;
  outline: none;
}

.accept-agreement {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  justify-content: center;
}
.accept-agreement-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--button-hover-color);
  outline: none;
}
.label-accept-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .accept-agreement .label-accept-check {
  background-color: var(--button-hover-color);
  border: none;
  box-shadow: none;
}
